<% include partials/header %>

<div class="container">
<div class="row">

  <h1 class="form-head">Please Log In:</h1>
  <div class="form-page">
<form class="" action="/login" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="username" placeholder="username" value="">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="username" value="">
  </div>
  <button type="submit" class="btn btn-primary btn-block btn-lg" name="button">Login</button>
</form>

</div>

</div>
</div>
<% include partials/footer %>
