<% include partials/header %>

<h1>Create a New Napspot</h1>

<form class="" action="/napspots" method="post">
  <input type="text" name="name" value="" placeholder="name">
  <input type="text" name="image" value="" placeholder="image url">
  <button>Submit!</button>
</form>

<a href="/napspots">Go back to Nap Spots.</a>

<% include partials/footer %>
