<% include partials/header %>

<h1>sign up</h1>

<form class="" action="/signup" method="post">
  <input type="text" name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <button type="submit" name="button">Sign Up</button>
</form>

<% include partials/footer %>
